.dashboard-container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .menu div {
    margin: 10px 0;
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
  }
  
  .overview {
    display: flex;
    margin-bottom: 20px;
  }
  
  .card {
    padding: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    flex-grow: 1;
  }
  
  .table {
    width: 100%;
  }